$main: #8eb9ff;
$high-speg: #f99dc0;
$low-speg: #241a44;
$selected: #2591f7;
$nav-bar-background: #cecece;
$low-content: #bc84b0;


.body {
  margin: 10% 0 10% 0;
}
.title-box {
  opacity: 0.8;
  text-align: right;
  position: fixed;
  padding: 0 5% 1% 0;
  top: 0px;
  width: 100%;
  background-color: $nav-bar-background;
  border-bottom: 1px solid black;
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
}

.edit-speg-div {
  text-align: right;
  position: fixed;
  right: 0px;
  top: 15%;
}

.new-speg {
  text-align: right;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.all-kegs {
  margin: 3% 0 0 3%;
  div {
    border-radius: 10px;
    padding: 2% 2% 2% 5%;
    background-color: $main;
  }
  .selected {
    position: relative;
    left: 5%;
  }

  .high-speg {
    border: 5px solid $high-speg;
  }

  .normal-speg {
    border: 5px solid $low-speg;
  }

  .low-content {
    background-color: $low-content;
  }
}
