.high-speg {
  font-weight: 600;
}

.selected {
  background-color: green;
}

.edit-speg-div {
  position: fixed;
  right: 0px;
  top: 10%;
}

.new-speg {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
