<form>
  <div class="form-group">
    <label for="name">Name: </label>
    <input type="button" name="name" value="">
  </div>
  <div class="form-group">
    <label for="brand">Brand: </label>
    <input type="button" name="brand" value="">
  </div>
  <div class="form-group">
    <label for="price">Brand: </label>
    <input type="button" name="price" value="">
  </div>
  <div class="form-group">
    <label for="speghet">Brand: </label>
    <input type="button" name="speghet" value="">
  </div>
  <button type="submit" name="button">Add New Spegbeer</button>
</form>
