<div class="col-xs-8">
  <div class="all-kegs" *ngFor="let keg of kegs | servable">
    <div [class]="checkStatus(keg)" (click)="selectKeg(keg)">
      <h2>{{keg.name}} | ${{keg.price}}</h2>
      <h3>{{keg.brand}}</h3>
      <h3>Speghet: {{keg.spegContent}}%</h3>
      <h3>Pints: {{keg.pints}}</h3>
    </div>
  </div>
</div>
<div class="edit-speg-div">
  <div *ngIf='selectedKeg'>
    <kegUpdate [keg]="selectedKeg" (clickSender)="done($event);" (otherClickSender)="addSale($event)">Loading...</kegUpdate>
    <button class="btn btn-warning" (click)="done(selectedKeg)">Done</button>
  </div>
</div>
