<div class="col-xs-6">
  <div *ngFor="let keg of kegs | servable">
    <div [class]="checkStatus(keg.pints)" (click)="selectKeg(keg)">
      <h2 [class]="checkSelected(keg)">Name: {{keg.name}}</h2>
      <h3>Brand: {{keg.brand}}</h3>
      <h3>Price: {{keg.price}}</h3>
      <h3 [class]="checkSpegContent(keg.spegContent)">Speghet: {{keg.spegContent}}%</h3>
      <h3>Pints: {{keg.pints}}</h3>
    </div>
  </div>
</div>
<div class="edit-speg-div">
  <div *ngIf='selectedKeg'>
    <kegUpdate [keg]="selectedKeg" (clickSender)="done($event)">Loading...</kegUpdate>
    <button class="btn btn-warning" (click)="done(selectedKeg)">Done</button>
  </div>
</div>
