<div class="">
  <button class='btn btn-warning' (click)="servePint(keg)">Serve Pint</button>
  <button class='btn btn-warning' (click)="serveGrowler(keg)">Serve Growler</button>
  <button class='btn btn-warning' (click)="serveLargeGrowler(keg)">Serve Large Growler</button>
  <button class='btn btn-warning' (click)="updateForm = !updateForm">{{updateForm ? 'Save' : 'Edit'}}</button>
  <div *ngIf="updateForm">
    <input [(ngModel)]='keg.name' type='text' placeholder='Brand:'>
    <input [(ngModel)]='keg.price' type='text' placeholder='Price:'>
    <input [(ngModel)]='keg.spegContent' type='number' placeholder='Speghet:'>
  </div>
</div>
