<div class="update-div">
  <button class='btn btn-warning' (click)="servePint(keg)">Serve Pint</button><br>
  <button class='btn btn-warning' (click)="serveGrowler(keg)">Serve Growler</button><br>
  <button class='btn btn-warning' (click)="serveLargeGrowler(keg)">Serve Large Growler</button><br>
  <button class='btn btn-warning' (click)="updateForm = !updateForm">{{updateForm ? 'Save' : 'Edit'}}</button><br>
  <div *ngIf="updateForm">
    <input class="form-control" [(ngModel)]='keg.name' type='text' placeholder='Brand:'>
    <input class="form-control" [(ngModel)]='keg.price' type='text' placeholder='Price:'>
    <input class="form-control" [(ngModel)]='keg.spegContent' type='number' placeholder='Speghet:'>
  </div>
</div>
